<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='alarm-s.css')}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="{{url_for('static', filename='alarm-j.js')}}"></script>
  <title>Alarm</title>
</head>
  <body>
    <div class ="container-1">
      <div class="header"><H1>Secure System</H1></div>
      <div class="quick quick-1"><a href="{{ url_for('home')}}" target="_self">Home</a></div>
      <div class="quick quick-2"><a href="{{ url_for('data')}}" target="_self">Data</a></div>
      <div class="quick quick-3"><a href="{{ url_for('alarm')}}" target="_self">Alarm</a></div>
      <div class="quick quick-4"><a href="{{ url_for('location')}}" target="_self">Location</a></div>
      <div class="quick quick-5"><a href="{{ url_for('stats')}}" target="_self">Stats</a></div>
    </div>
    
    <div class="container-2">
      <div class="header"><H1>Alarm</H1></div>

    <div class="container-3">
      <div class="item item-1"><h2>- Alarm Status -</h2><p id="alarm">---</p></div>
      <div class="item item-2"><h2>- Movment -</h2><p id="movement">---</p></div>
      <div class="item item-3"><h2>- User - </h2><p id="user">---</p></div>
      <div class="item item-4"><h2>- Key - </h2><p id="key">---</p></div>
    </div>
    </div>
    
  </body>
</html>