<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='data-s.css')}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="{{url_for('static', filename='data-j.js')}}"></script>
  <title>Data</title>
</head>
  <body>
    <div class ="container-1">
      <div class="header"><H1>Secure System</H1></div>
      <div class="quick quick-1"><a href="{{ url_for('home')}}" target="_self">Home</a></div>
      <div class="quick quick-2"><a href="{{ url_for('data')}}" target="_self">Data</a></div>
      <div class="quick quick-3"><a href="{{ url_for('alarm')}}" target="_self">Alarm</a></div>
      <div class="quick quick-4"><a href="{{ url_for('location')}}" target="_self">Location</a></div>
      <div class="quick quick-5"><a href="{{ url_for('stats')}}" target="_self">Stats</a></div>
    </div>
    
    <div class="container-2">
      <div class="header"><H1>Data</H1></div>

      <div class="container-3">
        <div class="item item-1"><h2>- Celcius -</h2><p id="celcius">---</p></div>
        <div class="item item-2"><h2>- Farenheight -</h2><p id="farenheight">---</p></div>
        <div class="item item-3"><h2>- Humidity - </h2><p id="humidity">---</p></div>
        <div class="item item-4"><h2>- Distance - </h2><p id="distance">---</p></div>
        </div>
      </div>
    </div>
    
  </body>
</html>